{% extends "base.html" %}

{% block content %}
<div>
    <h3> Pet name: {{pet.name | capfirst}} </h3>
    {% if pet.age %}
        <p>Pet age: {{pet.age}} </p>
    {% endif %}

    {% if pet.sex %}
        <p>Pet sex: {{pet.sex}} </p>
    {% endif %}

    {% if pet.breed %}
        <p>Pet breed: {{pet.breed}} </p>
    {% endif %}

    {% if pet.vaccinations.all %}
    <p>Vaccinations for: </p>
    <ol>
        {% for vaccination in pet.vaccinations.all %}
        <li> {{ vaccination.name}} </li>
        {% endfor %}
    </ol>
    {% endif %}

    <p>Submitted by: {{ pet.submitter }}</p>
    <p> Submitted on: {{ pet.submission_date|date:"M d Y" }}</p>
    <p>{{ pet.description }}</p>
</div>

{% endblock content %}